<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  <h3 class="text-muted">Psychological Tricks</h3>
</div>

<div class="jumbotron">
  <h2 data-i18n="_HomeControllerTitle_"></h2>
  <p class="lead">
    <a class="btn btn-lg btn-success" ng-href="#tricks">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h4><em data-i18n="_HomeTitle_"></em></h4>
  <p data-i18n="_Greeting_"></p>
</div>

<div class="footer">
      <a href="#" ng-click="setEnglishLanguage()">English</a> | <a href="#" ng-click="setSpanishLanguage()">Spanish</a> | <a href="#" ng-click="setRussianLanguage()">Russian</a>
</div>